*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer-Text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

.title {
  font-family: "Libre Barcode 39 Extended Text", system-ui;
  font-weight: 400;
  font-style: normal;
}

.headingText {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.navText{
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.loader{
    height: 100vh;
    width: 100vw;
}

.loader .left{
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: black;
    z-index: 1;
    animation: goLeft 1.5s linear 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    color: #9B5D95;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20rem;

}

.loader .right{
    position: absolute;
    height: 100vh;
    right: 0;
    width: 50%;
    background-color: black;
    z-index: 1;
    animation: goRight 1.5s linear 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    color: #505086;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20rem;

}

@keyframes goLeft{
    0%{
        position: absolute;
        left: 0;

    }
    100%{
        position: absolute;
        left: -50%;
    }
}

@keyframes goRight{
    0%{
        position: absolute;

    }
    100%{
        position: absolute;
        display: none;
        right: -50%;
    }
}

.container{
    height: 100vh;
    width: 100%;
}

.logoBg {
  font-size: 3rem;
  margin: 0.5rem;
  text-align: center;
}

.logoBg .logo img{
    margin: 0;
    padding: 0;
    height: 10rem;
    width: 10rem;
}

.container .navbar {
  height: 5.5rem;
  width: 100%;
  background-color: rgb(80, 80, 134);
  margin: 0rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}

.navbar a{
  color: white;
  text-decoration:none ;
  transition: all 0.3s ease-in;
}


.navbar a:hover{
    color: #ffc065;
    text-decoration:none ;
}


.servicesBtn{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards{
  height: 30rem;
  width: 25rem;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.7rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 2rem 0;
  transition: all 0.7s;
  border: 2px dashed #DB6D8E;
  flex-wrap: wrap;

}
.cards:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 40px #FF8F78;
}

.cards img{
    height: 23rem;
    width: 20rem;
    position: absolute;
    top: 1rem;
    border-radius: 1.7rem;
}

.cards .cardBtn{
  height: 2.5rem;
  width:19rem ;
  border-radius: 1.5rem;
  position: fixed;
  bottom: 1.7rem;
  border: none;
  background: transparent;
  border: 2px solid #DB6D8E;
  cursor: pointer;
  
}


.cardBtn:hover{
    font-weight: 900;
}
.slidingFeatures{
    height:25rem;
    width: 100vw;
    background: url(slider.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.slideFeature-content{
    width: 70%;
    color: white;
    padding: 2rem;
    text-align: justify;
    font-size: 1.4rem;
    display: flex;
    overflow: hidden;

}

.inactive{
  display: none;
  transition: all 1s ease-in-out;
}

.active{
  display: block;
}


.slideFeature-content p{
    text-align: right;
}


.contentVis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
} 

.navBtn{
  height: 3rem;
  width: 3rem;
  background: transparent;
  border-radius: 50%;
  border:2px solid #505086 ;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.navBtn i{
  color: #F9F871;
}

.navBtn:hover{
    border: 2px solid #F9F871;
    background-color: black;
}
.navBtn i:hover{
    color: #505086;
}

.footer{
  height: fit-content;
  width: 100vw;
  border: 2px solid black;
  background-color: #011111;
  margin: 2rem 0 0 0; /*TOP LEFT BOTTOM RIGHT*/
  color: rgb(127, 99, 48);
  overflow: hidden;
}

.footer-content{
   margin: 5rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}


.linkbtn{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s ease-in;
  margin-right: 1rem;
  cursor:pointer;

}
.linkbtn:hover{
  border: 1px dotted gold;
}

.linkbtn i{
    color:  white;
}
.footer-content .heading{
  margin-bottom: 1.3rem;
  color: #9B5D95;
}
.footer-content div li{
  list-style: none;
  margin: 0.4rem;
}

.footer-content div li:hover{
    list-style:disc;
    cursor: pointer;
}

.copyright{
    background: Linear-gradient(45DEG,#9B5D95,#DB6D8E,#FF8F78);
    text-align: center;
    padding: 1rem;
}

@media (max-width: 1270px) {

.cards{
  height: 25rem;
  width: 20rem;
  background-color: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 1.7rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 2rem 0;
  transition: all 0.7s;
  border: 2px dashed #DB6D8E;
  flex-wrap: wrap;

}
.cards:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 40px #FF8F78;
}

.cards img{
    height: 20rem;
    width: 17rem;
    position: absolute;
    top: 1rem;
    border-radius: 1.7rem;
}

.cards .cardBtn{
  height: 2rem;
  width:18rem ;
  border-radius: 1.5rem;
  position: fixed;
  bottom: 1.2rem;
  border: none;
  background: transparent;
  border: 2px solid #DB6D8E;
  cursor: pointer;
  
}


.cardBtn:hover{
    font-weight: 900;
}

}

  
@media (max-width: 1029px) {

  .cards{
    height: 25rem;
    width: 20rem;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 1.7rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0.7rem ;
    transition: all 0.7s;
    border: 2px dashed #DB6D8E;
    flex-wrap: wrap;
  
  }
  .cards:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 40px #FF8F78;
  }
  
  .cards img{
      height: 20rem;
      width: 17rem;
      position: absolute;
      top: 1rem;
      border-radius: 1.7rem;
  }
  
  .cards .cardBtn{
    height: 2.2rem;
    width:15rem ;
    border-radius: 1.5rem;
    position: fixed;
    bottom: 1.2rem;
    border: none;
    background: transparent;
    border: 2px solid #DB6D8E;
    cursor: pointer;
    
  }  
  .cardBtn:hover{
      font-weight: 900;
  }   
  }
@media (max-width:540px){
  


.logoBg .logo img{
    margin: 0;
    padding: 0;
    height: 6.9rem;
    width: 6.9rem;
}

.container .navbar {
  height: 5.5rem;
  width: 100%;
  background-color: rgb(80, 80, 134);
  margin: 0rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
}


}
@media (max-width:450px){
  .logoBg .logo img{
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 5rem;
}

.container .navbar {
  height: 5.5rem;
  width: 100%;
  background-color: rgb(80, 80, 134);
  margin: 0rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

}  
@media (max-width:351px){
  .logoBg .logo img{
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 5rem;
}

.container .navbar {
  height: 4rem;
  width: 100%;
  background-color: rgb(80, 80, 134);
  margin: 0rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}

}

@media (max-width:926px){
  .footer{
    height: 40vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #011111;
    margin: 2rem 0 0 0; /*TOP LEFT BOTTOM RIGHT*/
    color: rgb(127, 99, 48);
    overflow: hidden;
    font-size: 0.99rem;
  }
  

}

@media (max-width:926px){
  .footer{
    height: 40vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #011111;
    margin: 2rem 0 0 0; /*TOP LEFT BOTTOM RIGHT*/
    color: rgb(127, 99, 48);
    overflow: hidden;
    font-size: 0.99rem;
  }
  

}
@media (max-width:750px){
  .footer{
    height: 40vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #011111;
    margin: 2rem 0 0 0; /*TOP LEFT BOTTOM RIGHT*/
    color: rgb(127, 99, 48);
    overflow: hidden;
    font-size: 0.8rem;
  }
  

}
@media (max-width:645px){
  .footer-content{
    justify-content: space-around;
    margin: 3rem 1.5rem;

  }
  .footer{
    height: 40vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #011111;
    margin: 2rem 0 0 0; /*TOP LEFT BOTTOM RIGHT*/
    color: rgb(127, 99, 48);
    overflow: hidden;
    font-size: 0.79rem;
  }
  

}
@media (max-width:496px){
  .footer-content{
    flex-wrap: wrap;
     
    margin-top: 3.7rem;
  }
  .socailLinks{
    justify-content: center;
    align-items: center;
  }
  .centerHeading{
    text-align: center;

  }

}

